<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Aula de PW II</title>
</head>
<body bgcolor="#8a2be2">
<form action="/usuarios/salvar" method="post">
    Nome:
    <input type="text" name="nome"/>

    Aniversario
    <input type="date" name="aniversario"/>

    <input type="submit" value="salvar">
</form>
   <div class= "tabela">
        <table>
            <thead>
            <tr>
                <th> Nome </th> <th> Aniversario </th>
                <th> editar</th>
                <th> excluir</th>
            </tr>
            </thead>
            <tbody>
            {% for usu in obj %}

            <tr>
                <td> {{usu.nome}} </td>
                <td> {{usu.data}} </td>
                <td><a href="#"> editar</a> </td>
                <td> <a href="{{url_for('delete_usuarios',id=usu.id)}}"> excluir</a> </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
   </div>
</body>
</html>